*{
	font-family:Verdana;
	padding-top: 1px;
	padding-bottom:1px;
}
input{
	margin-right: 10px;
	font-size: 16pt;
	background-color: rgb(0, 128, 255);
	color:whitesmoke;
	border-radius: 4px;
	border-width: 1px;
}
input:hover{
	background-color:blueviolet;
}
input:active{
	background-color: darkgrey;
}
h1{
	text-align: center;
	font-size: 72pt;
}
#container{
	border: 1px dashed;
	width:60vh;
	height: 53vh;
	background-color: beige;
}
body{
	width:100vw;
	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
}
#btn{
	display:flex;
	justify-content: center;
}
h3{
	text-align: center;
	color:orangered;
}
