*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height:40vh;
}
form{
    display:flex;
    justify-content: center;
    align-content: center;
}
h1{
    text-align: center;
}
