*{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:5px;
    margin-top:5px;
    background-color: beige;
}
body{
    width:100vw;
    display:flex;
    justify-content: center;
}
.container{
    border: 1px dotted orangered;
    width:60vw;
}
h1, h3{
    text-align:center;
    margin-bottom:10px;
    margin-top:10px;
}
form{
    display: flex;
    width:100%;
    justify-content: center;
}
input{
    font-size: medium;
    border: 2px solid black;
    border-radius:4px;
}
input.choice{
    background-color: hsl(212, 88%, 40%);
    color: azure;
}
input.choice:hover{
    background-color: hsl(212, 88%, 50%);
}
input.choice:active{
    background-color: hsl(212, 88%, 70%);
}